<!doctype html>
<!-- The Time Machine GitHub pages theme was designed and developed by Jon Rohan, on Feb 7, 2012. -->
<!-- Follow him for fun. http://twitter.com/jonrohan. Tail his code on https://github.com/jonrohan -->
<html>
{% include head.html %}
<body>

  <div class="wrapper">
    {% include header.html %}
    <div id="container">
      <p class="tagline">Drive safely and always obey posted speed limits.</p>
      <div id="main" role="main">
        <div class="download-bar">
        <div class="inner">
          <a href="https://github.com/bpg1968/TimeTraveller/tarball/master" class="download-button tar"><span>Download</span></a>
          <a href="https://github.com/bpg1968/TimeTraveller/zipball/master" class="download-button zip"><span>Download</span></a>
          <a href="https://github.com/bpg1968/TimeTraveller" class="code">View Timetraveller on GitHub</a>
        </div>
        <span class="blc"></span><span class="trc"></span>
        </div>
        {{ content }}
      </div>
    </div>
    {% include footer.html %}
  </div>
</body>
</html>
